div(class="lobby-form")
    h1#spillerHeader Du er i lobby med:
    form(action="/proccedToGame", method="get", id="spillerForm")
        div
            button(type="submit") Spil Yatzy
div(class="add-players-form")
    h2 Tilføj spillere
    form(action="/lobby", method="post")
        div(class='nySpiller')
            input(type="text", name="lobbySpiller", class="username", placeholder="Tilføj en spiller")
            button(type="submit", onclick="updateSpiller()") +
            script(src="/js/pugScript.js")
    
