div(class="lobby-form")
    h1#spillerHeader Du er i lobby med:
    form(action="/", method="post", id="spillerForm")
        div
            button(type="submit") Spil Yatzy
    h2 Tilføj spillere
    form(action="/", method="post")
        div(class='nySpiller')
            input(type="username", name="Spiller", class="username", placeholder="Tilføj en spiller", required)
            button(type="button", onclick="updateSpiller()") +

script.
    let førsteSpillerTilføjet = false
    function updateSpiller() {
        let spiller = document.getElementsByClassName("username");
        if(spiller[0].value.trim() === ""){
            return
        }
        let spillerHeader = document.getElementById("spillerHeader")
        
        if(!førsteSpillerTilføjet){
            spillerHeader.innerText += " " + spiller[0].value
            førsteSpillerTilføjet = true

        } else {
            spillerHeader.innerText += ", " + spiller[0].value

        }
        spiller[0].placeholder = "Tilføj en spiller mere"
        spiller[0].value = ""
    }
    
