div(class="login-form")
    h1 Login til Yatzy 
    form(action="/api/startgame", method="post")
        div 
            input(type="text", name="Spiller", placeholder="Indtast dit navn", required)
        div
            button(type="submit") Tilmeld