div(class="login-form")
    h1 Login til Yatzy 
    form(action="/yatzy", method="get")
        label username 
            input(type="text", name="username", placeholder="Spiller", required)
        button(type="submit") Tilmeld