doctype html 
html(lang="en")
    include includes/header 
    link(rel="stylesheet", href="/css/lobbyStyle.css")
    script(src="/js/lobby.js" defer) 
    body
        .container
            include includes/lobbyform 
        include includes/footer 