doctype html 
html(lang="en")
    include includes/header 
    body
        h1 Du står i kø med spiller1, spiller 2 osv. 
        h3 Snart bliver det sjovt!!
        button(type="submit") Spil Yatzy 
        include includes/footer 