doctype html 
html(lang="en")
    include includes/header
    link(rel="stylesheet", href="/css/loginStyle.css")
    body
        .container
            include includes/loginform 
        include includes/footer 