doctype html 
html(lang="en")
    include includes/header 
    link(rel="stylesheet", href="/css/pointsStyle.css")
    script(src="/js/points.js" defer) 
    include includes/pointsmenu 
    body
        .container
            table#pointsTable
                thead 
                    tr
                        th Player
                        th Round
                        th Throw
                        th Score 
                tbody 
                    each player in playerScores
                        tr
                            td #{player.name}
                            td #{player.round}
                            td #{player.throw}
                            td #{player.totalScore}
        include includes/footer 