doctype html 
html(lang="en")
    include includes/header 
    link(rel="stylesheet", href="/css/pointsStyle.css")
    include includes/pointsmenu 
    body
        .container
            table
                tr
                    th Player
                    th Round
                    th Throw
                    th Score 
        include includes/footer 