doctype html 
html(lang="en")
    include includes/header 
    body
        h1 Spillet er nu slut! 
        h1 Ranking: 
        h3 1. Spiller A 
        h3 2. Spiller B 
        h3 osv osv 
        include includes/footer 