doctype html
html(lang="en")
    head
        title Velkommen. Indtast brugernavn 
    body
        h1 Velkommen. Indtast brugernavn 
        form(action="/", method="POST")
            input(type="text", name="username", placeholder="Username" required)
            button(type="submit") Spil
