doctype html 
html(lang="en")
  include includes/header
  link(rel="stylesheet", href="/css/yatzyStyle.css")
  script(src="/js/frontend.js" defer) 
  include includes/yatzymenu
  body
    .game-container
      .top-container
        .dice-container
          img#dice-holder-1(src="/pics/empty-dice_0.png", alt="Die 1", class="dice_regular")
          img#dice-holder-2(src="/pics/empty-dice_1.png", alt="Die 2", class="dice_regular")
          img#dice-holder-3(src="/pics/empty-dice_2.png", alt="Die 3", class="dice_regular")
          img#dice-holder-4(src="/pics/empty-dice_3.png", alt="Die 4", class="dice_regular")
          img#dice-holder-5(src="/pics/empty-dice_4.png", alt="Die 5", class="dice_regular")
        span#playerDisplay Spiller {name}
        span#roundDisplay Round 1
        span#throwDisplay Throw 0
        button.roll-button Roll!
      .bottom-container
        #grid-container
          #id-1s.grid-item
            label 1's
          #id-1s-text.grid-item
            input.txtbox(for="id-input-1s", type="text", id="one", readonly)
          #id-2s.grid-item
            label 2's
          #id-2s-text.grid-item
            input.txtbox(for="id-input-2s", type="text", id="two", readonly)
          #id-3s.grid-item
            label 3's
          #id-3s-text.grid-item
            input.txtbox(for="id-input-3s", type="text", id="three", readonly)
          #id-4s.grid-item
            label 4's
          #id-4s-text
            input.txtbox(for="id-input-4s", type="text", id="four", readonly)
          #id-5s.grid-item
            label 5's
          #id-5s-text
            input.txtbox(for="id-input-5s", type="text", id="five", readonly)
          #id-6s.grid-item
            label 6's
          #id-6s-text
            input.txtbox(for="id-input-6s", type="text", id="six", readonly)
          #id-one-pair.grid-item
            label One pair
          #id-one-pair-text
            input.txtbox(for="id-input-one-pair", type="text", id="onePair", readonly)
          #id-two-pair.grid-item
            label Two pair
          #id-two-pair-text
            input.txtbox(for="id-input-two-pair", type="text", id="twoPairs", readonly)
          #id-three-same.grid-item
            label Three same
          #id-three-same-text
            input.txtbox(for="id-input-three-same", type="text", id="threeSame", readonly)
          #id-four-same.grid-item
            label Four same
          #id-four-same-text
            input.txtbox(for="id-input-four-same", type="text", id="fourSame", readonly)
          #id-full-house.grid-item
            label Full house
          #id-full-house-text
            input.txtbox(for="id-input-full-house", type="text", id="fullHouse", readonly)
          #id-small-straight.grid-item
            label Small straight
          #id-small-straight-text
            input.txtbox(for="id-input-small-straight", type="text", id="smallStraight", readonly)
          #id-large-straight.grid-item
            label Large straight
          #id-large-straight-text
            input.txtbox(for="id-input-large-straight", type="text", id="largeStraight", readonly)
          #id-chance.grid-item
            label Chance
          #id-chance-text
            input.txtbox(for="id-input-chance", type="text", id="chance", readonly)
          #id-yatzy.grid-item
            label Yatzy
          #id-yatzy-text
            input.txtbox(for="id-input-yatzy", type="text", id="yatzy", readonly)
          #id-sum.grid-item
            label Sum:
          #id-sum-text
            input.txtbox(for="id-input-sum", type="text", id="sum", readonly)
          #id-bonus.grid-item
            label Bonus:
          #id-bonus-text
            input.txtbox(for="id-input-bonus", type="text", id="bonus", readonly)
          #id-total.grid-item
            label Total:
          #id-total-text
            input.txtbox(for="id-input-total", type="text", id="total", readonly)

    include includes/footer
