doctype html 
html(lang="en")
  include includes/header
  link(rel="stylesheet", href="/css/yatzyStyle.css")
  body
    .game-container
      .top-container
        .dice-container
          img#dice-holder-1(src="/pics/empty-dice_0.png", alt="Die 1", class="dice_regular")
          img#dice-holder-2(src="/pics/empty-dice_1.png", alt="Die 2", class="dice_regular")
          img#dice-holder-3(src="/pics/empty-dice_2.png", alt="Die 3", class="dice_regular")
          img#dice-holder-4(src="/pics/empty-dice_3.png", alt="Die 4", class="dice_regular")
          img#dice-holder-5(src="/pics/empty-dice_4.png", alt="Die 5", class="dice_regular")
        span#playerDisplay Spiller {name}
        span#roundDisplay Round 1
        span#throwDisplay Throw 0
        button.roll-button Roll!
      .bottom-container
        #grid-container
        div#id-1s
          span.label 1's
        div#id-1s-text.grid-item
          input.txtbox(for="id-input-1s", type="text", readonly)
        div#id-2s
          span.label 2's
        div#id-2s-text.grid-item
          input.txtbox(for="id-input-2s", type="text", readonly)
        div#id-3s
          span.label 3's
        div#id-3s-text.grid-item
          input.txtbox(for="id-input-3s", type="text", readonly)
        div#id-4s.grid-item
          span.label 4's
        div#id-4s-text
          input.txtbox(for="id-input-4s", type="text", readonly)
        div#id-5s.grid-item
          span.label 5's
        div#id-5s-text
          input.txtbox(for="id-input-5s", type="text", readonly)
        div#id-6s.grid-item
          span.label 6's
        div#id-6s-text
          input.txtbox(for="id-input-6s", type="text", readonly)
        div#id-one-pair.grid-item
          span.label One pair
        div#id-one-pair-text
          input.txtbox(for="id-input-one-pair", type="text", readonly)
        div#id-two-pair.grid-item
          span.label Two pair
        div#id-two-pair-text
          input.txtbox(for="id-input-two-pair", type="text", readonly)
        div#id-three-same.grid-item
          span.label Three same
        div#id-three-same-text
          input.txtbox(for="id-input-three-same", type="text", readonly)
        div#id-four-same.grid-item
          span.label Four same
        div#id-four-same-text
          input.txtbox(for="id-input-four-same", type="text", readonly)
        div#id-full-house.grid-item
          span.label Full house
        div#id-full-house-text
          input.txtbox(for="id-input-full-house", type="text", readonly)
        div#id-small-straight.grid-item
          span.label Small straight
        div#id-small-straight-text
          input.txtbox(for="id-input-small-straight", type="text", readonly)
        div#id-large-straight.grid-item
          span.label Large straight
        div#id-large-straight-text
          input.txtbox(for="id-input-large-straight", type="text", readonly)
        div#id-chance.grid-item
          span.label Chance
        div#id-chance-text
          input.txtbox(for="id-input-chance", type="text", readonly)
        div#id-yatzy.grid-item
          span.label Yatzy
        div#id-yatzy-text
          input.txtbox(for="id-input-yatzy", type="text", readonly)
        div#id-sum.grid-item
          span.label Sum:
        div#id-sum-text
          input.txtbox(for="id-input-sum", type="text", readonly)
        div#id-bonus.grid-item
          span.label Bonus:
        div#id-bonus-text
          input.txtbox(for="id-input-bonus", type="text", readonly)
        div#id-total.grid-item
          span.label Total:
        div#id-total-text
          input.txtbox(for="id-input-total", type="text", readonly)

    include includes/footer
