/* center the lobby content */
.container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 95vh; /* ensure container takes up the full height of the viewport */
    max-width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
}

.lobby-form h1 {
    margin-bottom: 25px; /* add margin bottom to the title */
    align-items: center;
}

/* add-players-form styles */
.add-players-form h2 {
    margin-top: 60px; /* add margin top to the text */
    margin-bottom: 6px; /* add margin bottom to the text */
    text-align: center; /* center the h2 element */
}

/* button style */
.container button {
    margin: 20px auto; /* add margin to center the button horizontally */
    display: block; /* ensure the button takes up the full width of its container */
}

.container button {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #45a049;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 24, 8, 0.2);
}

.container button:hover {
    background-color: #6ac054;
    transform: scale(1.05); /* increase size by 5% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* add a slight shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* add smooth transition */
}

.nySpiller {
    display: flex;
    align-items: center;
    justify-content: center; /* centered elements */
    gap: 12px; /* add space between the text input and the button */
}

input[type="text"] {
    flex: none; /* Forhindrer flexbox i at ændre elementets størrelse */
    width: 250px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    border: 1px solid #45a049;
    border-radius: 5px;
    margin-bottom: 10px; /* add margin bottom to the input */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}