/* common style */

body {
    background: linear-gradient(to bottom, #00ccdf, #ffde59);
    background-size: cover; /* ensure the background covers the entire viewport */
    font-family: 'Verdana', sans-serif; /* use Verdana font, fallback to sans-serif */
    margin: 0;
    width: 100vw; /* set body width to 100% of viewport width */
    min-height: 100vh; /* set body min height to 100% of viewport height */
}

h1 {
    color: #00353a;
    font-size: 60px;
}

hr {
    height: 2px;  
    background-color: #45a049;  
    border: none;
}

/* add more padding and adjust font size for the links/text */
.menubar {
    padding: 10px 10px; /* increase padding */
    font-size: 16px; /* decrease font size */
}

/* position the footer at the bottom of the page */
.footer {
    margin-top: auto; /* push footer to the bottom */
    text-align: center; /* center the content of the footer */
    color: #00353a;
}